<!DOCTYPE html>
<!-- saved from url=(0024)https://gci.com/gci-plus -->
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">  
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>GCI+ | Unlimited mobile, internet, and TV | Bundle up and save | GCI</title>
        <meta name="keywords" content="Alaska, GCI, GCI+, GCI Plus, telecommunications, internet plans, mobile plans, tv, streaming, unlimited, cell phones, customers, bundle, savings, Alaska Airlines, 2GIG, 2 gig">
        <meta name="description" content="Add an unlimited mobile line to your internet for just $25/mo more. Plus, get Yukon TV from $4.99/mo.">

        <!-- <script type="text/javascript" async="" src="/assets/scripts/js"></script>
        <script async="true" src="/assets/scripts/8b869829-6424-4e6a-bb32-19d47a9df5bd.js"></script>
        <script type="text/javascript" async="" src="/assets/scripts/main.MTEyYzFhMzhjMA.js" data-id="CF8QRURC77UCCRP8NEOG"></script>
        <script type="text/javascript" async="" src="/assets/scripts/a06c667b12475.js"></script>
        <script type="text/javascript" async="" src="/assets/scripts/js(1)"></script> -->

        <script src="/assets/scripts/jquery-3.3.1.min.js"></script>
        <script src="/assets/scripts/jquery-ui.js"></script>
        <script src="https://unpkg.com/@dotlottie/player-component@latest/dist/dotlottie-player.mjs" type="module"></script>

        <link href="/assets/styles/all.css" rel="stylesheet">
        <link href="/assets/styles/gcicomponents.css" rel="stylesheet">
        <link href="/assets/styles/gci.css" rel="stylesheet">
        <link href="/assets/styles/gcib.css" rel="stylesheet">
        <link href="/assets/styles/main.css" rel="stylesheet">
        <link href="/assets/styles/magnific-popup.min.css" rel="stylesheet">
        <link href="/assets/styles/Fields.css" rel="stylesheet">
        <link href="/assets/styles/coveo-custom-styles.css" rel="stylesheet">
        <link href="/assets/styles/jquery-ui.css" rel="stylesheet">
        <link href="/assets/styles/NewStickyContact.css" rel="stylesheet">
        <link href="/assets/styles/roboto.css" rel="stylesheet">

        <link href="/styles/gci/components/scroller/plan-cards.css" rel="stylesheet">
        <link href="/styles/gci/components/scroller/broad-band-cards.css" rel="stylesheet">
        <link href="/styles/gci/components/main-feature/main-feature-enhanced.css" rel="stylesheet">
    </head>
    
    <body class="theme-gcib">
        {% block main %}
            {{ content | safe }}
        {% endblock %}
        <footer class="theme-gcib footer bg-plum" style="background-image: url();">
            <div class="body-container py-5">
                <div class="row">
                    <div class="col-12 col-lg-2">
                        
                <div class="row">
                    <div class="col-12 col-md-6 col-lg-12">
                        <div class="footer-cat-title">Contact Us</div>


                        <div class="row">
                                <div class="col-12 col-md-6 col-lg-12">
                                    <div class="pb-4"><img src="/assets/icon-phone.png" width="32" alt="" class="mr-2"> <a href="tel:800-800-4800">800-800-4800</a></div>
                                </div>
                                                    <div class="col-12 col-md-6 col-lg-12">
                                    <div class="pb-4"><a href="mailto:rcs@gci.com"><img src="/assets/icon-email.png" alt="" class="mr-2"> Email Us</a></div>
                                </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-6 col-lg-12">
                        <div class="footer-cat-title d-none d-md-block d-lg-none">&nbsp;</div>

                        <ul class="list-inline mb-0 social-media-links">
                                <li class="list-inline-item">
                                    <a href="https://www.facebook.com/GCIAK/" disablelinkdescription="true">
                                    <img src="/assets/fb.png" class="mb-3" alt="fb" width="32" height="31" disablewebedit="False">
                                    </a>

                                </li>
                                <li class="list-inline-item">
                                    <a href="https://instagram.com/gciak" disablelinkdescription="true">
                                    <img src="/assets/insta.png" class="mb-3" alt="insta" width="32" height="31" disablewebedit="False">
                                    </a>

                                </li>
                                <li class="list-inline-item">
                                    <a href="https://www.linkedin.com/company/240179" disablelinkdescription="true">
                                    <img src="/assets/in.png" class="mb-3" alt="in" width="32" height="32" disablewebedit="False">
                                    </a>

                                </li>
                                <li class="list-inline-item">
                                    <a href="http://twitter.com/gciak" disablelinkdescription="true">
                                    <img src="/assets/twitter.png" class="mb-3" alt="twitter" width="32" height="31" disablewebedit="False">
                                    </a>

                                </li>
                                <li class="list-inline-item">
                                    <a href="https://www.youtube.com/channel/UCSLY709PdfxzA_OmbjiQMYQ" disablelinkdescription="true">
                                    <img src="/assets/youtube.png" class="mb-3" alt="youtube" width="32" height="31" disablewebedit="False">
                                    </a>

                                </li>
                            
                                <li class="list-inline-item">
                                    <img src="/assets/1291b3f6" style="position: absolute" referrerpolicy="no-referrer-when-downgrade">
                                </li>
                        </ul>
                    </div>
                </div>

                    </div>

                    
                    <div class="d-none d-lg-block col-lg-2 ">
                        <div class="footer-cat-title">Products</div>
                        <ul class="list-unstyled footer-links">
                                <li>
                                    <a href="https://gci.com/internet">Internet</a>                             
                                </li>
                                <li>
                                    <a href="https://gci.com/mobile">Mobile</a>                             
                                </li>
                                <li>
                                    <a href="https://gci.com/tv">TV</a>                             
                                </li>
                                <li>
                                    <a href="https://gci.com/tv/smart-home">Connected Home</a>                             
                                </li>
                                <li>
                                    <a href="https://gci.com/phone">Home Phone</a>                             
                                </li>
                                <li>
                                    <a title="Deals" href="https://gci.com/offers">Deals</a>                             
                                </li>
                            
                        </ul>
                    </div>
                    <div class="d-none d-lg-block col-lg-2 ">
                        <div class="footer-cat-title">Business</div>
                        <ul class="list-unstyled footer-links">
                                <li>
                                    <a href="https://gci.com/business/solutions/education">Education</a>                             
                                </li>
                                <li>
                                    <a href="https://gci.com/business/solutions/energy">Energy</a>                             
                                </li>
                                <li>
                                    <a href="https://gci.com/business/solutions/finance">Finance</a>                             
                                </li>
                                <li>
                                    <a href="https://gci.com/business/solutions/government">Government</a>                             
                                </li>
                                <li>
                                    <a href="https://gci.com/business/solutions/healthcare">Healthcare</a>                             
                                </li>
                                <li>
                                    <a href="https://gci.com/business/solutions/transportation-and-logistics">Transportation and Logistics</a>                             
                                </li>
                                <li>
                                    <a href="https://gci.com/tv/advertising/gci-media">TV Advertising</a>                             
                                </li>
                            
                        </ul>
                    </div>
                    <div class="d-none d-lg-block col-lg-2 ">
                        <div class="footer-cat-title">Regulatory</div>
                        <ul class="list-unstyled footer-links">
                                <li>
                                    <a href="https://gci.com/regulatory">Regulatory Overview</a>                             
                                </li>
                                <li>
                                    <a href="https://gci.com/regulatory/cable-online-public-file">Cable Online Public File</a>                             
                                </li>
                                <li>
                                    <a href="https://gci.com/regulatory">CCL Reports</a>                             
                                </li>
                                <li>
                                    <a href="https://gci.comhttps://www.gci.com/-/media/files/gci/regulatory/22_01_codeofbusinessconductandethics.pdf">Code of Conduct and Ethics</a>                             
                                </li>
                                <li>
                                    <a href="https://gci.com/tv/contract-renewal">Contract Renewal</a>                             
                                </li>
                                <li>
                                    <a href="https://gci.com/regulatory/fccapplications">FCC Applications</a>                             
                                </li>
                                <li>
                                    <a href="https://gci.com/regulatory/public-notices">Public Notices</a>                             
                                </li>
                                <li>
                                    <a href="https://gci.com/about/taxes-surcharges">Taxes and Surcharges</a>                             
                                </li>
                                <li>
                                    <a href="https://gci.com/regulatory">TERRA Postings</a>                             
                                </li>
                            
                        </ul>
                    </div>
                    <div class="d-none d-lg-block col-lg-2 ">
                        <div class="footer-cat-title">About</div>
                        <ul class="list-unstyled footer-links">
                                <li>
                                    <a href="https://gci.com/about/executiveteam">Executive Team</a>                             
                                </li>
                                <li>
                                    <a href="http://libertybroadband.com/">Investor Relations</a>                             
                                </li>
                                <li>
                                    <a href="https://gci.com/why-gci/gcigives">GCI Gives</a>                             
                                </li>
                                <li>
                                    <a rel="noopener noreferrer" href="https://news.gci.com/" target="_blank">News Releases</a>                             
                                </li>
                                <li>
                                    <a href="https://www.gci.com/about/psa">PSA Submissions</a>                             
                                </li>
                                <li>
                                    <a href="https://gci.com/small-business">Small Business</a>                             
                                </li>
                                <li>
                                    <a href="https://gci.com/business">Business and Institutions</a>                             
                                </li>
                                <li>
                                    <a href="https://gci.com/business/support/new-construction">New Construction Support</a>                             
                                </li>
                                <li>
                                    <a href="https://gci.com/about/store-locations">Store Locations</a>                             
                                </li>
                                <li>
                                    <a rel="noopener noreferrer" href="https://blog.gci.com/" target="_blank">GCI Blog</a>                             
                                </li>
                            
                        </ul>
                    </div>


                </div>
            </div>
            <div class="container">
                <div class="border-bottom border-gray w-100"></div>
                <div class="row pb-3 pt-3">
                    
                    <div class="col-12 col-md-auto ml-md-3 mb-3 mb-md-0 order-lg-3">
                        <a href="https://gci.com/about/careers">Careers</a>        
                    </div>
                    <div class="col-12 col-md-auto ml-md-3 mb-3 mb-md-0 order-lg-3">
                        <a href="https://gci.com/about/contact-us">Contact</a>        
                    </div>
                    <div class="col-12 col-md-auto ml-md-3 mb-3 mb-md-0 order-lg-3">
                        <a href="https://gci.com/about">About</a>        
                    </div>
                    <div class="col-12 col-md-auto ml-md-3 mb-3 mb-md-0 order-lg-3">
                        <a href="https://gci.com/regulatory/compliance-hotline">Compliance Hotline</a>        
                    </div>
                    <div class="col-12 col-md-auto ml-md-3 mb-3 mb-md-0 order-lg-3">
                        <a rel="noopener noreferrer" href="https://www.gci.com/feedback" target="_blank">Feedback</a>        
                    </div>


                    <div class="col-12 col-md-auto ml-md-3 mb-3 mb-md-0 order-lg-2">
                        
                    <a href="https://gci.com/privacy-policy">Privacy Policy</a> | <a href="https://gci.com/about/terms-conditions">Terms and Conditions</a>
                    </div>
                    <div class="col-md-11 col-lg-auto mt-3 mt-lg-0 order-lg-1 ml-md-3">
                        
                        <div class="font-weight-normal">© GCI COMMUNICATION CORP. ALL RIGHTS RESERVED.</div>

                    </div>
                </div>
            </div>
        </footer>

        <script src="/assets/scripts/blazy.min.js"></script>
        <script src="/assets/scripts/blazy-config.js"></script>
        <script src="/assets/scripts/Popper1.11.0.min.js"></script>
        <script src="/assets/scripts/gci-vendor.js"></script>
        <script src="/assets/scripts/gci.js" async="" defer=""></script>
        <script src="/assets/scripts/gcib.js" async="" defer=""></script>
        <script src="/assets/scripts/javaScriptCookie.js" async="" defer=""></script>
        <script src="/assets/scripts/geolocation.js" async="" defer=""></script>
        <script src="/assets/scripts/jquery.cookie.js"></script>
        <script src="/assets/scripts/jquery.validate.min.js"></script>
        <script src="/assets/scripts/jquery.validate.unobtrusive.min.js"></script>
        <script src="/assets/scripts/myselection.js"></script>
        <script src="/assets/scripts/myselection-one-click-cart.js"></script>
        <script src="/assets/scripts/coveo-custom-script.js"></script>
        <script src="/assets/scripts/main.js"></script>
        <script src="/assets/scripts/handlebars.js"></script>
        <script src="/assets/scripts/handlebars-helpers.js"></script>
        <script src="/assets/scripts/jquery.magnific-popup.1.1.0.min.js"></script>
        <script src="/assets/scripts/vimeoplayer.v2.14.1.js"></script>
        <script src="/assets/scripts/cart.js"></script>
        <script src="/assets/scripts/knockout.js"></script>
        <script src="/assets/scripts/picturefill-3.js"></script>
        <script src="/assets/scripts/linq.js"></script>
        <script src="/assets/scripts/resources.js"></script>
        <script src="/assets/scripts/gsap.min.js"></script>
        <script src="/assets/scripts/DrawSVGPlugin.min.js"></script>
        <script src="/assets/scripts/ScrollToPlugin.min.js"></script>
        <script src="/assets/scripts/ScrollTrigger.min.js"></script>
        <script src="/assets/scripts/layoutsettings.js"></script>
        <script src="/assets/scripts/stickycontact.js"></script>

        <script src="/scripts/gci/gci-plus-enhanced.js"></script>
    </body>
</html>