---
layout: base
title: Main Page
---

<div>   
    <!-- Condensed Hero -->
    {% include "components/condensed-hero.njk" %}
    <script>
        $(document).ready(function () {
            $.fn.widest = function () {
                return this.length
                    ? this.width(
                          Math.max.apply(
                              Math,
                              this.map(function () {
                                  return $(this).width();
                              })
                          )
                      )
                    : this;
            };

            $(".feature-content.hero-teaser .btn.type-cta-btn").widest();
        });
    </script>
</div>

<div class="container">
    <main class="main-container row">
      <div class="col">
        <!-- Scroller - Plan Cards -->
        {% include "components/plan-cards.njk" %}
    </main>
</div>