<div class="broad-band-labels bg-scale-light">
  <div class="content-container">
    <h2 class="sc-title">This is  headline placehlder</h2>
    <h3 class="sc-subtitle"></h3>
    <div class="container">
      <div class="row">
        <div class="slick-navigation">
          <span>
          </span>
        </div>
        <div class="broad-band-scroll-wrapper">
          {% include "components/broad-band-card.njk" %}
          <div class="broad-band-card">
  <div class="content-container">
    <h3 class="broad-band-card-title">
      Broadband Facts
    </h3>
    <hr class="divide-md"/>
    <section>
        <h4 class="broad-band-card-subtitle">
          GCI 
          <br/>
          red internet
          <br/>
          red internet
        </h4>
        <p>Fixed Broadband Consumer Disclosure</p>
    </section>
    <hr class="divide-xl"/>
    <section>
        <h4 class="broad-band-card-section-title">
          <span>
            Monthly Price
          </span>
          <span  class="label-list-item-value">
            $199.00
          </span>
        </h4>
    </section>
    <hr class="divide-lg"/>
    <section>
        <p class="font-md">This Monthly Price is not an introductory rate x amount of time</p>
        <p class="font-md">This Monthly Price does not require a contract</p>
    </section>
    <hr class="divide-sm"/>
    <section>
        <h4 class="broad-band-card-section-title">
          Additional Charges &amp; Terms
        </h4>
        <ul class="label-list">
          <li class="label-list-item">
            <h5 class="label-list-item-title">
              Provider Monthly Fees
            </h5>
            <ul  class="label-list"> 
              <li class="label-list-item-detail">
                <span>
                  Modem Rental
                </span>
                <span class="label-list-item-value">
                  $5.00
                </span>
              </li>
              <li class="label-list-item-detail">
                <span>
                  Router Rental
                </span>
                <span class="label-list-item-value">
                  $5.00
                </span>
              </li>
            </ul>
          </li>
        </ul>
    </section>
    <hr class="divide-lg"/>
    <section>
        <h4 class="broad-band-card-section-title">Discounts &amp; Bundles</h4>
        <p>
          <a href="#">Click Here</a> for available billing discounts and pricing options for broadband service bundled with other services like video, phone and wireless service, and use of your own equipment like modems and routers.
        </p>

    </section>
    <hr class="divide-sm"/>
    <section>
        <h4 class="broad-band-card-section-title">Affordable Connectivity Program (ACP)</h4>
        <p>
          <a href="#">Click Here</a> for available billing discounts and pricing options for broadband service bundled with other services like video, phone and wireless service, and use of your own equipment like modems and routers.
        </p>
        <a href="#">
          No offers yet
        </a>
    </section>
    <hr class="divide-lg"/>
    <section>
        <h4 class="broad-band-card-section-title">
          Speeds Provided with Plan
        </h4>
        <ul class="label-list">
          <li class="label-list-item">
            <h5 class="label-list-item-title">
              <span>
                Typical Download Speed
              </span>
              <span class="label-list-item-value">
                2.5 GB
              </span>
            </h5>
            {# <p class="label-list-item-deta
            </p> #}
          </li>
          <li class="label-list-item">
            <h5 class="label-list-item-title">
             <span>
                Typical Upload Speed
              </span>
              <span class="label-list-item-value">
                750 Mbps
              </span>
            </h5>
            {# <p class="label-list-item-detai
            </p> #}
          </li>
          <li class="label-list-item">
            <h5 class="label-list-item-title">
              <span>
                Typical Latency
              </span>
              <span class="label-list-item-value">
                tbd
              </span>
            </h5>
          </li>
        </ul>
    </section>
    <hr class="divide-sm"/>
    <section>
        <h4 class="broad-band-card-section-title">
          Data Included with Monthly Price
          <span class="title-tag">
            unlimited
          </span>
        </h4>
        <ul class="label-list">
          <li class="label-list-item">
            <h5 class="label-list-item-title">
              <span>
                Charges for Additional Data Usage
              </span>
              <span class="label-list-item-value">
                500 Mbps
              </span>
            </h5>
          </li>
        </ul>
    </section>
    <hr class="divide-sm"/>
    <section>
        <h4 class="broad-band-card-section-title">
          Network Management
            <span class="label-list-item-value">
              <a href="#">Read our Policy</a>
            </span>
        </h4>
        <h4 class="broad-band-card-section-title">
          Privacy
            <span class="label-list-item-value">
              <a href="#">Read our Policy</a>
            </span>
        </h4>
    </section>
    <hr class="divide-xl"/>
    <section>
        <h4 class="broad-band-card-section-title">
          Customer Support
        </h4>
        <ul class="label-list">
          <li class="label-list-item">
            <h5 class="label-list-item-title">
              Contact Us:
            </h5>
            <ul  class="label-list">
              <li class="label-list-item-detail">
                <span>
                  <a href="#">gci.com/support</a> &nbsp; (555)555-5555
                </span>
              </li>
            </ul>
          </li>
        </ul>
    </section>
    <hr class="divide-sm"/>
    <section>
        <p class="font-md">
          Learn more about the terms used on this label by visiting the Federal Communications Commision’s Consumer Resource Center.
        </p>
        <a href="#">fcc.gov/consumer</a>
    </section>
    <hr class="divide-spacer"/>
    <section>
        <p class="label-card-id">
          [Unique Plan Identifier Ex. F0005937974123ABC456EMC789
        </p>
    </section>
  </div>
</div>
          {% include "components/broad-band-card.njk" %}
          {% include "components/broad-band-card.njk" %}
          {% include "components/broad-band-card.njk" %}
          {% include "components/broad-band-card.njk" %}
          {% include "components/broad-band-card.njk" %}
          {% include "components/broad-band-card.njk" %}
          {% include "components/broad-band-card.njk" %}
        </div>
      </div>
    </div>
    <div class="sc-legal">
      <span style="font-size: 13px;"><em>**Prices do not include taxes/fees. See below for <a href="#" id="terms">terms and conditions.</a></em></span>
    </div>
  </div>
</div>
