<div class="broad-band-labels bg-scale-light">
  <div class="content-container">
    <h2 class="sc-title">This is  headline placehlder</h2>
    <h3 class="sc-subtitle"></h3>
    <div class="container">
      <div class="row">
        <div class="slick-navigation">
          <span>
          </span>
        </div>
        <div class="broad-band-scroll-wrapper">
          {% include "components/broad-band-card.njk" %}
          {% include "components/broad-band-card.njk" %}
          {% include "components/broad-band-card.njk" %}
          {% include "components/broad-band-card.njk" %}
          {% include "components/broad-band-card.njk" %}
          {% include "components/broad-band-card.njk" %}
          {% include "components/broad-band-card.njk" %}
        </div>
      </div>
    </div>
    <div class="sc-legal">
      <span style="font-size: 13px;"><em>**Prices do not include taxes/fees. See below for <a href="#" id="terms">terms and conditions.</a></em></span>
    </div>
  </div>
</div>
