<div class="broad-band-card">
  <div class="content-container">
    <div class="slide-info">
      <h3 class="bb-card-title">
        Broadband Facts
      </h3>
      <hr class="divide-md"/>
      <div>
        <h4 class="bb-card-subtitle">
          GCI 
          <br/>
          red internet
        </h4>
        <p>Fixed Broadband Consumer Disclosure</p>
      </div>
      <hr class="divide-xl"/>
      <div>
        <h4 class="bb-card-section-title">
          <span>
            Monthly Price
          </span>
          <span  class="label-list-item-value">
            $199.00
          </span>
        </h4>
      </div>
      <hr class="divide-lg"/>
      <div>
        <p class="font-md">This Monthly Price is not an introductory rate x amount of time</p>
        <p class="font-md">This Monthly Price does not require a contract</p>
      </div>
      <hr class="divide-sm"/>
      <div>
        <h4 class="bb-card-section-title">
          Additional Charges &amp; Terms
        </h4>
        <ul class="label-list">
          <li class="label-list-item">
            <p class="label-list-item-title">
              Provider Monthly Fees
            </p>
            <p class="label-list-item-detail">
              <span>
                This would be the name of a fee
              </span>
              <span class="label-list-item-value">
                $0.00
              </span>
            </p>
          </li>
          <li class="label-list-item">
            <p class="label-list-item-title">
              Provider Monthly Fees
            </p>
            <p class="label-list-item-detail">
              <span>
                This would be the name of a fee
              </span>
              <span class="label-list-item-value">
                $0.00
              </span>
            </p>
          </li>
          <li class="label-list-item">
            <p class="label-list-item-title">
              Provider Monthly Fees
            </p>
            <p class="label-list-item-detail">
              <span>
                This would be the name of a fee
              </span>
              <span class="label-list-item-value">
                $0.00
              </span>
            </p>
          </li>
        </ul>
      </div>
      <hr class="divide-lg"/>
      <div>
        <h4 class="bb-card-section-title">Discounts &amp; Bundles</h4>
        <p>
          <a href="#">Click Here</a> for available billing discounts and pricing options for broadband service bundled with other services like video, phone and wireless service, and use of your own equipment like modems and routers.
        </p>
        <a href="#">
          No offers yet
        </a>
      </div>
      <hr class="divide-sm"/>
      <div>
        <h4 class="bb-card-section-title">Affordable Connectivity Program (ACP)</h4>
        <p>
          <a href="#">Click Here</a> for available billing discounts and pricing options for broadband service bundled with other services like video, phone and wireless service, and use of your own equipment like modems and routers.
        </p>
        <a href="#">
          No offers yet
        </a>
      </div>
      <hr class="divide-lg"/>
      <div>
        <h4 class="bb-card-section-title">
          Speeds Provided with Plan
        </h4>
        <ul class="label-list">
          <li class="label-list-item">
            <p class="label-list-item-title">
              <span>
                Typical Download Speed
              </span>
              <span class="label-list-item-value">
                2.5 GB
              </span>
            </p>
            {# <p class="label-list-item-deta
            </p> #}
          </li>
          <li class="label-list-item">
            <p class="label-list-item-title">
             <span>
                Typical Upload Speed
              </span>
              <span class="label-list-item-value">
                750 Mbps
              </span>
            </p>
            {# <p class="label-list-item-detai
            </p> #}
          </li>
          <li class="label-list-item">
            <p class="label-list-item-title">
              <span>
                Typical Latency
              </span>
              <span class="label-list-item-value">
                tbd
              </span>
            </p>
          </li>
        </ul>
      </div>
      <hr class="divide-sm"/>
      <div>
        <h4 class="bb-card-section-title">
          Data Included with Monthly Price
          <span class="title-tag">
            unlimited
          </span>
        </h4>
        <ul class="label-list">
          <li class="label-list-item">
            <p class="label-list-item-title">
              <span>
                Charges for Additional Data Usage
              </span>
              <span class="label-list-item-value">
                500 Mbps
              </span>
            </p>
            {# <p class="label-list-item-deta
            </p> #}
          </li>
        </ul>
      </div>
      <hr class="divide-sm"/>
      <div>
        <h4 class="bb-card-section-title">
          Network Management
            <span class="label-list-item-value">
              <a href="#">Read our Policy</a>
            </span>
        </h4>
        <h4 class="bb-card-section-title">
          Privacy
            <span class="label-list-item-value">
              <a href="#">Read our Policy</a>
            </span>
        </h4>
      </div>
      <hr class="divide-xl"/>
      <div>
        <h4 class="bb-card-section-title">
          Customer Support
        </h4>
        <ul class="label-list">
          <li class="label-list-item">
            <p class="label-list-item-title">
              Contact Us:
            </p>
            <p class="label-list-item-detail">
              <span>
                <a href="#">gci.com/support</a> &nbsp; (555)555-5555
              </span>
            </p>
          </li>
        </ul>
      </div>
      <hr class="divide-sm"/>
      <div>
        <p class="font-md">
          Learn more about the terms used on this label by visiting the Federal Communications Commision’s Consumer Resource Center.
        </p>
        <a href="#">fcc.gov/consumer</a>
      </div>
      <hr class="divide-spacer"/>
      <div>
        <p class="label-card-id">
          [Unique Plan Identifier Ex. F0005937974123ABC456EMC789
        </p>
      </div>
    </div> 
  </div>
</div>