<!-- background color classes to be applied to <section> below: .bg-white, .bg-lightblue, .red-bg, .bg-midnightblue, .bg-almostblack -->
<div>
  <section class="container main-feature enhanced">
    <div class="main-feature-wrap">
        <picture>
          <source media="(max-width: 576px)" srcset="/assets/main-feature/bg-main-feature-max-576.jpg"/>
          <source media="(min-width: 577px) and (max-width: 1399px)" srcset="/assets/main-feature/bg-main-feature-max-1200.jpg"/>
          <source media="(min-width: 1400px)" srcset="/assets/main-feature/bg-main-feature-largest.jpg"/>
          <img srcset="/assets/main-feature/bg-main-feature-largest.jpg" alt="…" class="img-fluid feature-bg"/>
        </picture>
        <div class="body-container justify-content-start">
          <div class="hero-teaser">
            <div>
              <h1><span class="h1 d-block">GCI+ is AK's best internet + mobile value</span></h1>
            </div>
            <!-- New body-copy container-->
            <div class="body-copy">
              Ea est omnis sint. Quam qui ipsum. Quisquam consequatur doloremque. Cum aut eum expedita omnis dolore deserunt ea voluptatem ut.
            </div>
            <!-- End -->
            <div class="cta-container">
              <a class="btn btn-primary" href="https://gci.com/gci-plus#plans" >Find my perfect plan</a>
              <a class="btn btn-link" href="https://gci.com/gci-plus#plans" >Shop all plans</a>
            </div>
          </div>
          <div class="hero-image">
            <!-- Updated conditional images-->
            <picture>
              <source media="(max-width: 576px)" srcset="/assets/main-feature/main-feature-image343x156.png"/>
              <img srcset="/assets/main-feature/main-feature-image575x281.png" alt=""/>
            </picture>
            <!-- End -->
          </div>
        </div>
    </div>
  </section>
</div>