<div class="gci-scroller gci-scroller plan-cards midnight-gradient-bg  scroller-single-item">
  <div class="content-container">
    <h2 class="sc-title">Choose your best fit. Includes internet and one mobile line.</h2>
    <h3 class="sc-subtitle">Customize any plan by adding up to 9 additional mobile lines.*</h3>
    <div class="container">
      <div class="row equal-height mobile-scroll-wrapper">
        <div class="col-lg-3 col-md-3 col-xs-12 featured-item red-bg ">
        
          <div class="content-block">
            {# <div class="sc-slide-callout red-gradient-bg text-midnightblue">Text</div> #}
              <div class="copy-container slide-container">
                <div class="slide-info">
                  <h3 class="sc-slide-title">
                    red Unlimited+
                  </h3>

                  <div class="sc-slide-description">
                    <p>AK'S BEST PERFORMANCE, PERIOD</p>
                  </div>

                  <div class="sc-slide-subtitle">
                      <p>Starting at</p>
                      <span class="highlight-blue">$199.99</span>/mo
                  </div>
                </div>

                <details>
                    <summary data-show-text="Show Details" data-hide-text="Hide Details">Show Details</summary>
                    <div class="sc-slide-description">
                      <p>Unlimited Internet with download speeds up to 2.5 Gbps</p>
                      <p>+</p>
                      <p>One Apex mobile line with <a href="">unlimited full-speed</a> mobile data</p>
                    </div>
                </details>

                <div class="cta more">
                    <a class="small-button" onclick="javascript:AddContentTagCookieWithRedirect(&#39;gci_contenttags&#39;, &#39;plantags&#39;, &#39;GCI Red&#39;, &#39;/GCI-Plus/plan-builder-with-yukon&#39;);return false;" href="https://gci.com/gci-plus#" tabindex="-1">Build plan</a>
                </div>
              </div>
          </div>
        </div>
        <div class="col-lg-3  col-md-3  col-xs-12 ">
          <div class="content-block">
          {# <div class="sc-slide-callout bg-glacierblue text-danger">Text</div> #}
            <div class="copy-container slide-container">
              <div class="slide-info">
                <h3 class="sc-slide-title">
                    Fastest Unlimited+
                </h3>

                <div class="sc-slide-description">
                    <p>TAKE YOUR CONNECTIONS TO ANOTHER LEVEL</p>
                </div>

                <div class="sc-slide-subtitle">
                    <p>Starting at</p>
                    <span class="highlight-blue">$174.99</span>/mo
                </div>
              </div>
                      
              <details>
                <summary data-show-text="Show Details" data-hide-text="Hide Details">Show Details</summary>
                <div class="sc-slide-description">
                    <p>Unlimited Internet with download speeds up to 1 Gbps</p>
                    <p>+</p>
                    <p>One Summit mobile line with <a href="">unlimited full-speed</a> mobile data up to 100 GB/line</p>
                </div>
              </details>

              <div class="cta more">
                  <a class="small-button" onclick="javascript:AddContentTagCookieWithRedirect(&#39;gci_contenttags&#39;, &#39;plantags&#39;, &#39;GCI Fastest&#39;, &#39;/GCI-Plus/plan-builder-with-yukon&#39;);return false;" href="https://gci.com/gci-plus#" tabindex="-1">Build plan</a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-3  col-md-3  col-xs-12 ">
          <div class="content-block">
              <div class="copy-container slide-container">
                  <div class="slide-info">
                          <h3 class="sc-slide-title">
                              Faster Unlimited+
                          </h3>

                          <div class="sc-slide-description">
                              <p>EVERYTHING YOU LOVE, FASTER</p>
                          </div>

                          <div class="sc-slide-subtitle">
                          <p>Starting at</p>
                              <span class="highlight-blue">$124.99</span>/mo
                          </div>
                  </div>
                  <details>
                      <summary data-show-text="Show Details" data-hide-text="Hide Details">Show Details</summary>                                           
                    <div class="sc-slide-description">
                      <p>Unlimited Internet with download speeds up to 500 Mbps</p>
                      <p>+</p>
                      <p>One Peak mobile line with unlimited full-speed mobile data up to 50 GB/line</p>
                    </div>
                  </details>
                  <div class="cta more">
                      <a class="small-button" onclick="javascript:AddContentTagCookieWithRedirect(&#39;gci_contenttags&#39;, &#39;plantags&#39;, &#39;GCI Faster&#39;, &#39;/GCI-Plus/plan-builder-with-yukon&#39;);return false;" href="https://gci.com/gci-plus#" tabindex="-1">Build plan</a>
                  </div>
              </div>
          </div>
        </div>
        <div class="col-lg-3  col-md-3  col-xs-12 ">
          <div class="content-block">
            <div class="copy-container slide-container">
              <div class="slide-info">
                <h3 class="sc-slide-title">
                    Fast+
                </h3>
                <div class="sc-slide-description">
                    <p>POWER + SPEED AT A FRIENDLY PRICE</p>
                </div>

                <div class="sc-slide-subtitle">
                <p>Starting at</p>
                    <span class="highlight-blue">$99.99</span>/mo
                </div>

              </div>
              <details>
                <summary data-show-text="Show Details" data-hide-text="Hide Details">Show Details</summary>                                          
                  <div class="sc-slide-description">
                      <p>Internet with download speeds up to 250 Mbps</p>
                      <p>+</p>
                      <p>One Explore mobile line</p>
                    </div>
              </details>

              <div class="cta more">
                  <a class="small-button" onclick="javascript:AddContentTagCookieWithRedirect(&#39;gci_contenttags&#39;, &#39;plantags&#39;, &#39;GCI Fast&#39;, &#39;/GCI-Plus/plan-builder-with-yukon&#39;);return false;" href="https://gci.com/gci-plus#" tabindex="-1">Build plan</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="body-content">
      <h4><span class="richtext-white">Add more entertainment to your GCI+ plan! Get Yukon TV Total for $99.99/mo or AK Core TV for $4.99/mo</span></h4>
    </div>
    <div class="sc-legal">
      <span style="font-size: 13px;"><em>**Prices do not include taxes/fees. See below for <a id="terms">terms and conditions.</a></em></span>
    </div>
  </div>
</div>

{# <div class="gci-scroller plan-cards   gci-scroller midnight-gradient-bg  scroller-single-item">
            <div class="content-container">
                    <div class="sc-title">Choose your best fit. Includes internet and one mobile line.</div>
                                    <div class="sc-subtitle">Customize any plan by adding up to 9 additional mobile lines.*</div>

                <div class="container">
                    <div class="row equal-height mobile-scroll-wrapper">



                      <div class="red-bg featured-item  col-lg-3  col-md-3  col-xs-12 ">
                          <div class="content-block">
                              <div class="copy-container slide-container">
                                  <div class="slide-info">
                                      <div class="sc-slide-title">
                                          red Unlimited+
                                      </div>

                                          <div class="sc-slide-description">
                                              <p>Alaska's fastest internet starts here.</p>
                                          </div>

                                          <div class="sc-slide-subtitle">
                                              <p>Starting at</p>
                                              <span class="highlight-blue">$74.99</span> /mo
                                          </div>
                                  </div>
                                  
                                      <details>
                                          <summary data-show-text="Show Details" data-hide-text="Hide Details">Show Details</summary>
                                          <div class="sc-slide-description">
                                              <p>Unlimited Internet with download speeds up to 2.5 Gbps</p>
                                                    <p>+</p>
                                                    <p>One Apex mobile line with unlimited full-speed mobile data</p>
                                          </div>
                                      </details>

                                  <div class="cta more">
                                      <a class="small-button" onclick="javascript:AddContentTagCookieWithRedirect('gci_contenttags', 'plantags', 'GCI Red', '/GCI-Plus/plan-builder-with-yukon');return false;;return false;" href="#">Build plan</a>
                                  </div>
                              </div>
                          </div>
                      </div>



                      <div class=" col-lg-3  col-md-3  col-xs-12 ">
                          <div class="content-block">
                              <div class="copy-container slide-container">
                                  <div class="slide-info">
                                      <div class="sc-slide-title">
                                          Fast
                                      </div>

                                          <div class="sc-slide-description">
                                              <p>Alaska's fastest internet starts here.</p>
                                          </div>

                                          <div class="sc-slide-subtitle">
                                              <p>Starting at</p>
                                              <span class="highlight-blue">$79.99</span> /mo
                                          </div>
                                  </div>
                                  
                                      <details>
                                          <summary data-show-text="Show Details" data-hide-text="Hide Details">Show Details</summary>
                                          <div class="sc-slide-description">
                                              <p>Unlimited Internet with download speeds up to 1 Gbps</p>
                                                  <p>+</p>
                                                  <p>One Summit mobile line with unlimited full-speed mobile data up to 100 GB/line</p>
                                          </div>
                                      </details>

                                  <div class="cta more">
                                      <a class="small-button" onclick="javascript:AddContentTagCookieWithRedirect('gci_contenttags', 'plantags', 'GCI Red', '/GCI-Plus/plan-builder-with-yukon');return false;;return false;" href="#">Build plan</a>
                                  </div>
                              </div>
                          </div>
                      </div>



                      <div class=" col-lg-3  col-md-3  col-xs-12 ">
                          <div class="content-block">
                              <div class="copy-container slide-container">
                                  <div class="slide-info">
                                      <div class="sc-slide-title">
                                          Faster AK
                                      </div>

                                          <div class="sc-slide-description">
                                              <p>Get what you need to learn or work from home.</p>
                                          </div>

                                          <div class="sc-slide-subtitle">
                                              <p>Starting at</p>
                                              <span class="highlight-blue">$114.99</span> /mo
                                          </div>
                                  </div>
                                  
                                      <details>
                                          <summary data-show-text="Show Details" data-hide-text="Hide Details">Show Details</summary>
                                          <div class="sc-slide-description">
                                              <p>Unlimited Internet with download speeds up to 500 Mbps</p>
                                                    <p>+</p>
                                                    <p>One Peak mobile line with unlimited full-speed mobile data up to 50 GB/line</p>
                                          </div>
                                      </details>

                                  <div class="cta more">
                                      <a class="small-button" onclick="javascript:AddContentTagCookieWithRedirect('gci_contenttags', 'plantags', 'GCI Red', '/GCI-Plus/plan-builder-with-yukon');return false;;return false;" href="#">Build plan</a>
                                  </div>
                              </div>
                          </div>
                      </div>
                    </div>
                </div>
                                
                <div class="sc-legal">
                  <span style="font-size: 13px;">
                    <em>*Prices do not include taxes/fees. See below for <a id="terms">terms and conditions.</a></em>
                  </span>
                </div>
          </div>
</div> #}